<section>
<div class="main">
    <div class="center">       
        <button class="btnPrimary" [disabled]="suffuledisable !== false" (click)="onSuffule()">Suffule</button>
        <button class="btnPrimary" [disabled]="sortdisable !== false" (click)="onSort()">Sort</button>
    </div>

    <div class="row">
        <div class="column">
            <app-childcomone [GridData]="FirstGridData" >
            </app-childcomone>
        </div>
        <div class="column">
            <app-childcomtwo [ListData]="SecondArraylist">                
            </app-childcomtwo>
        </div>
    </div>
</div>
</section>


